/*
Auteur: Omar Abdeljelil
Date:   29 juillet 2018
Projet: TP2- Gestion d’une collection de livres avec PHP, Mysql, jQuery et Ajax
Webdev: https://e1795082.webdev.cmaisonneuve.qc.ca/tp2-ajax/
*/

#entete {
    color: white;
    background-color: #5a5a5a;
}

#entete h1{
    padding-bottom: 10px;
    padding-top: 10px;
}

#entete #separateur{
    background: linear-gradient(180deg,grey, black);
    height: 20px;
    margin-bottom: 15px;
}

table, th, td {
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
}

input[type=text] {
    width: 100px;
    text-align: center;
}

.eval {
    width: 75px !important;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

#status{
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#resMsg {
    font-size: 16px;
}

#controlBtn {
    height: 20px;
}

#controlBtn button{
    background-color: white;
    border: none;
    font-weight: bold;
    margin-right: 5px;
}
#controlBtn button:hover{
transform: scale(1.1,1.1);
}

.btnSupprimer {
    color: red;
    font-size: 12px;
}

.btnSupprimer :hover {
    cursor: pointer;
    color: orange;
    transform: scale(1.5, 1.5);
}

#btnSauvegarde {
    color: blue;
    font-size: 12px;
}

#btnSauvegarde :hover {
    cursor: pointer;
    color: green;
    transform: scale(1.5, 1.5);
}

#rangerFiltre input[type=text]:focus{
    border: 1px solid blue ;
}

#frmFiltre{
    margin-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    margin-top: 10px;
    background-color: #5a5a5a;
    color: white;
    text-align: center;
    font-size: 20px;
}

.footer a{
    text-decoration: none;
    color: white;
}